<div class="booking-details">
    <h1>Booking Details</h1>

    <div *ngIf="booking">
      <div class="details-card">
        <h2>Flight Information</h2>
        <p><strong>Flight No:</strong> {{ booking.flight.flightNumber }}</p>
        <p><strong>Departure:</strong> {{ booking.flight.departure.name }} ({{ booking.flight.departureDateTime | date:'short' }})</p>
        <p><strong>Arrival:</strong> {{ booking.flight.arrival.name }}</p>
        <p><strong>Departure Time:</strong> {{ booking.flight.departureDateTime | date: 'short' }}</p>
        <p><strong>Arrival Time:</strong> {{ booking.flight.arrivalDateTime | date: 'short' }}</p>
        <p><strong>Duration:</strong> {{ duration }}</p>
        <p>
            <strong>Current Status:</strong> 
            <span style="margin-left: 10px;" [ngClass]="statusClass(booking.flight.status)">{{ booking.flight.status }}</span>
        </p>
      </div>

      <div class="details-card">
        <h2>Passenger Details</h2>
        <table>
          <tr>
            <th>Name</th>
            <th>Passport No.</th>
          </tr>
          <tr *ngFor="let passenger of booking.passengers">
            <td>{{ passenger.name }}</td>
            <td>{{ passenger.passportNumber }}</td>
          </tr>
        </table>
      </div>

      <!-- Back Button -->
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" class="back-btn" (click)="goBack()">Go Back</button>
      </mat-card-actions>
    </div>

    <div *ngIf="!booking" class="no-data">
      <p>No booking details found.</p>
    </div>
</div>
